@use "../Partials/mixins";
@use "../Partials/palette";

.navbar {
	display: flex;
	flex-direction: row;
	// flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 35px;
	a {
		text-decoration: none;
	}

	&__header {
		font-weight: normal;
		font-size: 1em;
		color: palette.$dark-primary;
	}

	&__links {
		display: flex;
		align-items: center;

		a {
			color: palette.$dark-secondary;
			padding: 0px 15px;
		}
		a:hover {
			color: palette.$dark-primary;
		}
	}
}

@media only screen and (max-width: 850px) {
	.navbar {
		&__links {
			display: none;
		}
	}
}

// Hamburger menu
.hamburger-btn {
	@media only screen and (min-width: 850px) {
		display: none;
	}
	display: flex;
	height: 20px;
	width: 25px;
	flex-direction: column;
	justify-content: space-between;
	&__line {
		height: 2px;
		width: 100%;
		background-color: palette.$dark-secondary;
	}
}

.hamburger-btn:hover {
	* {
		background-color: palette.$dark-primary;
	}
}

.collapsed {
	// display: none;
}

.hamburger-btn-open {
	@media only screen and (min-width: 850px) {
		display: none;
	}
	display: flex;
	height: 20px;
	width: 25px;
	flex-direction: column;
	justify-content: space-between;
	&__line {
		height: 2px;
		width: 100%;
		background-color: palette.$dark-secondary;

		.line-1 {
		}

		.line-2 {
		}
	}
}
